
.border-pane {
    -fx-background-image: url("../images/bg.png");
    -fx-background-repeat: stretch;
}

/*      Left bar    */

.leftBarBG {
    -fx-background-color: rgba(255,255,255, 1);
    -fx-pref-width: 210px;
}

.groupsHeader {
    -fx-alignment: center-left;
    -fx-pref-height: 50px;

    -fx-spacing: 10px;
    -fx-padding: 10px 35px;
} 

.groupsHeader > .label {
    -fx-font-weight: 400;
    -fx-font-size: 12px;
}

.groupsHeader > .label > .ikonli-font-icon {
    -fx-icon-size: 30px;
}

.groupBG {
    -fx-pref-width: 200px;
    -fx-background-color: rgba(250,250,250, 1);
}

.groupBG > .viewport {
    -fx-background-color: rgba(250,250,250, 1);
}

.groupBox {
    -fx-spacing: 3px;
    -fx-padding: 10px;

    -fx-background-color: transparent;
}

.groupItem {
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    
    -fx-padding: 4px 13px 4px 20px;
    -fx-background-insets: 2px 0px;
    
    -fx-background-color: transparent;
    -fx-background-radius: 3px;

    -fx-alignment: center;
}

.deleteBtn {
    -fx-pref-width: 10px;
    -fx-background-color: transparent!important;
}

.deleteBtn > .ikonli-font-icon {
    -fx-icon-size: 17px;
}

.groupItem > .label {
    -fx-text-fill: #000;
    -fx-font-weight: 400;
}

.groupItem:hover {
    -fx-text-fill: #000;
    -fx-background-color: rgba(230,230,230, 0.7)!important;
}

.deleteBtn:hover > .ikonli-font-icon {
    -fx-icon-color: red;
}

/*      Left bar addGroup    */

.addGroupBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-background-insets: 10px;
}

.addGroupBox > .text-area {
    -fx-pref-width: 160px;
    -fx-max-height: 25px;

    -fx-wrap-text: false;
}

.addGroupBox > .button {
    -fx-pref-width: 180px;
    -fx-pref-height: 17px;
    -fx-background-color: transparent;
}

.addGroupBox > .button > .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.addGroupBox > .button:hover {
    -fx-background-color: rgba(230,230,230, 0.7);
}

.addGroupBox > .button:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

/*      Left bar movs Btns     */

.movsBox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-background-insets: 10px;
}

.movsBox > .button {
    -fx-pref-height: 30px;
    
    -fx-text-fill: #000;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
}

#toTimer {
    -fx-pref-width: 120px;
}

#toSettings {
    -fx-pref-width: 30px;
}

.movsBox > .button > .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.movsBox > .button:hover {
    -fx-text-fill: root-light-color;
    -fx-background-color: rgba(230,230,230, 0.7);
}

.movsBox > .button:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

/*      Center       */

.center-view {
    -fx-alignment: center;
    -fx-spacing: 50px;
    -fx-padding: 50px;
}

/*      ToDoList         */

.task-scroll {
    -fx-background-color: transparent!important;
}

.task-scroll > .viewport {
    -fx-background-color: transparent !important;
}

.taskBox {
    -fx-pref-width: 300px;
    -fx-padding: 10px 20px;
    -fx-spacing: 20px;
    -fx-fill-width: true; 

    -fx-alignment: top-right;
    -fx-node-orientation: left_to_right;

    -fx-background-color: transparent;
}

.taskItem {
    -fx-padding: 10px;
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
}

.taskItem > .taskContent {
    -fx-max-width: 300px;
    -fx-wrap-text: true;

    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #999;
}

.taskItem > .secondaryInfo {
    -fx-alignment: bottom-right;
    -fx-font-size: 0.9em;
    -fx-text-fill: #999;
}

.taskItem > .overdueDate {
    -fx-text-fill: red;
}

.taskItem:hover {
    -fx-background-color: #fff;
}

#addButton {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: #eee;
    -fx-background-radius: 5px;
    -fx-padding: 0;
}

#addButton > .ikonli-font-icon {
    -fx-icon-color: #000;
}

#addButton:hover {
    -fx-background-color: #fff;
}

#addButton:pressed {
    -fx-background-color: #bbb;
}

#addButton:hover > .ikonli-font-icon {
    -fx-icon-color: root-light-color;
}

#checkTask > .box {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

/* TASK FORM */

.taskForm {  
    -fx-min-width: 80px;
    -fx-pref-height: 60px;
}

#contentField {
    -fx-max-width: 200px;
    -fx-pref-width: 190px;
    -fx-pref-height: 25px;
    -fx-wrap-text: true;
}

.groupSelector {
    -fx-background-color: #fff;
}

/*      Calendar     */

.calendar-container {
    -fx-spacing: 10px;
}

.calendar-top-bar {
    -fx-spacing: 10px;
}

.calendar {
    -fx-pref-width: 350px;
    -fx-padding: 15px;
    -fx-background-color: root-blocks-color;
    -fx-background-radius: 15px;
}

.calendar-row-container {
    -fx-spacing: 15px;
    -fx-padding: 15px 0;
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.calendar-row {
    -fx-alignment: center;
}

.calendar-row > .button {
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-alignment: center;

    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: #333;
    
    -fx-background-color: transparent!important;
    -fx-background-insets: 2px;
}

.calendar-row > .button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1)!important;
    -fx-text-fill: #000;
}

.weekDays {
    -fx-padding: 10px 0;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

#calendarGridPane {
    -fx-pref-width: 250px;
    -fx-pref-height: 300px;
}

.btnArrow {
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    
    -fx-background-color: #eeeded;
    -fx-background-radius: 5px;
    
    -fx-padding: 0;
}

.btnArrow > .ikonli-font-icon {
    -fx-icon-size: 13px;
}

.btnArrow:hover {
    -fx-background-color: #fff;
}

.btnArrow:hover > .ikonli-font-icon {
    -fx-icon-color: #000;
}

#calendarLabel {
    -fx-alignment: center;
    -fx-pref-width: 250px;

    -fx-font-size: 15px;
    -fx-font-weight: 700;

    -fx-background-color: root-blocks-color;
    -fx-background-radius: 5px;

    -fx-padding: 6px;
}

#today {
    -fx-font-weight: 700;
    -fx-background-color: root-light-color!important;
    -fx-background-insets: 5px;
    -fx-text-fill: #fff;
    -fx-background-radius: 100%;
    -fx-padding: 5px 10px;
}

#today:hover {
    -fx-background-color: #d1618e!important;
}

#passiveDay {
    -fx-text-fill: gray;
}

.activeDate {
    -fx-border-width: 1px;
    -fx-border-color: root-append-color;
    -fx-border-radius: 5px;
    -fx-border-insets: 2px;
    
    /* -fx-background-color: root-append-color!important; */
    /* -fx-border-radius: 100%; */
}

.activeDate:hover {
    /* -fx-background-radius: 100%; */
}